services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    volumes:
      - .:/app
      - static:/app/static
      - media:/app/media
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./letsencrypt:/etc/letsencrypt
      - static:/app/static
      - media:/app/media
    depends_on:
      - web
      
volumes:
  postgres_data:
  static:
  media: